@font-face {
    font-family: 'Noto-Sans';
    src: url('../fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --yellow-color: #FFC300;
    --border-radius: 6px;
    --main-button-height: 60px;
    --secondary-button-height: 36px;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #FFF;
        --details-color: #F2F2F2;
        --text-color: #15294C;
        --placeholder-color: #808080;
        --highlight-color: #38B6FF;
        --blue-color: #15294C;
        --success-color: #1CA725;
        --error-color: #8E1D1D;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #070F1D;
        --details-color: #0a1527;
        --text-color: #FFF;
        --placeholder-color: #e4e4e7;
        --highlight-color: #38B6FF;
        --success-color: #1CA725;
        --error-color: #8E1D1D;
    }
}

body {
    background-color: var(--background-color);
}

.highlighted_text {
    color: var(--highlight-color);
    font-weight: 400;
}
